/* src/components/Navbar.scss */
@import "../../styles/main.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1.5rem;
  position: fixed; 
  width: 50%;
  border-radius:3rem;
  top: 1rem;
  z-index: 1000;

  &__logo{
   a {  
    display: inline-block;
    color: $primary-color;  
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Poppins-Navbar', sans-serif; 
    transition: transform 0.3s ease-in-out;
    &:hover{
      transform: scale(1.2);
    }
  }
  
  
} 
  &__nav-links {
    list-style: none;
    display: flex; 
    gap: 2rem;
     li {
      margin: 0 1rem;
    }
     a {
      position: relative;
      color: $primary-color;
      text-decoration: none;
      font-size: 1.1rem;
      font-family: 'Poppins-Navbar-li', sans-serif; 
          
      &::before{
        position: absolute;
        content: '';
        width: 0;
        height: 5px;
        left: 0;
        top:25px;
        border-radius: 1rem;
        transition: 0.3s ease-in-out;
        background: linear-gradient(to right,  #0ebeff, #8780d9,  #ff42b3);
      }
      &:hover::before{
        width: 100%;
      }
    }
  }
}

@media (max-width:1315px){
  .navbar {
    width: 70%;
  }
}
@media (max-width:985px){
  .navbar {
    width: 86%;
  }
}
@media (max-width: 768px) {

  .navbar {
    justify-content: space-between;
    width: 80%;  
    &__nav-links {
      list-style: none;
      display: flex;
      flex-direction: column; 
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-100%, -100%); 
      transition: transform 2s ease;
      opacity: 1; 
      &--active{
        transform: translate(0, 0); 
        opacity: 1; 
        top:100px;
      }
       li {
        margin: 1rem;
        text-align: center; 
      }
       a {
        color: $primary-color;
        text-decoration: none;
        font-size: 1.5rem; 
        &::before{
          margin-top: 5px;
          }
            
      }
      
  }
  &__menu-bg {  
    transform: translate(-100%, -100%); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    border-radius: 0 0 80% 0;
    background: rgba(0, 0, 0, 0.8); 
    transition: transform 2s ease;
    &--active{
      transform: translate(0, 0);
      
    }
    
  }
  }
  
  
  
}