@import "../../styles/main.scss";

.section4 {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
    display: inline;
    width: 80%;
    &__box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}