@import '../../../styles/main.scss';

.mechanicalKeyboard{
    color: $secondary-color;
    font-family: 'Poppins', sans-serif;
    h1{
        font-size: 3rem;
    }
    p{
        margin-top: 1%;
    }
   
    &__text{
        background: $linear-color;
        -webkit-background-clip: text; /* Necesario para WebKit (Chrome, Safari) */
        -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente */
        background-clip: text; /* Necesario para otros navegadores */
        text-fill-color: transparent; /* Hace que el texto sea transparente */
        font-family: 'Poppins', sans-serif;
        font-size: xx-large;
    }
}

