@import '../../../styles/main.scss';

.mechanicalKeyboard{
    color: $primary-color;
    font-family: 'Poppins', sans-serif;
    h1{
        font-size: 3rem;
    }
   
    &__text{
        background: $linear-color;
        -webkit-background-clip: text; /* Necesario para WebKit (Chrome, Safari) */
        -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente */
        background-clip: text; /* Necesario para otros navegadores */
        text-fill-color: transparent; /* Hace que el texto sea transparente */
        font-family: 'Poppins-Thin', sans-serif;
        font-size: xx-large;
    }
}
@media   (max-width: 768px){
    .mechanicalKeyboard{
        
        
    
}
}