// src/styles/variables.scss
$primary-color: #ffffff;
$secondary-color: #000000;
$linear-color: linear-gradient(to right,  #0ebeff, #8780d9,  #ff42b3);
//Only for Carrousel
$w:100px;
$h:50px;
$quantity: 30;