/* src/components/Navbar.scss */
@import "../../styles/variables.scss";

.section1 {
    display: flex;
  
    &__text {
        display: flex;
        flex-direction: column;
      h2 {
        color: red;
      }
    }
  
    &__image {
      
    }
  }