/* src/components/Navbar.scss */
@import "../../styles/variables.scss";

.section1 {
    display: flex;
  
    &__text {
        flex: 1 1 50%;
        flex-direction: column;
        justify-content: center;
        &-button{
            display: flex;
            justify-content: space-evenly;
           
        }
        
    }
  
    &__image {
        flex: 1 1 50%;
    }
  }
  ButtonEffect{
    &:nth-child(2) {
        background: transparent;
        color: #00abf0;

        &:hover {
            color: #081b29;
        }

        &::before {
            background: #00abf0;
        }
    }
}