@font-face{
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Poppins-Thin';
    src: url('../assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}