@import '../../../styles/main.scss';


   .moveImage{
        
        &__central{
            position: relative;
            width: 100%;          /* La imagen ocupará el 50% del ancho del contenedor */
            height: auto;        /* Mantiene la proporción correcta */
            display: block;      /* Asegura que se centre correctamente con margin */
            margin: 0 auto;      /* Centra horizontalmente la imagen */
            max-width: 300px;    /* Límite máximo de ancho */
            aspect-ratio: 1 / 1; /* Asegura que la imagen sea cuadrada */
            border-radius:50%;  /* Hace la imagen circular */
            object-fit: cover;   /* Mantiene la proporción del contenido */
            object-position: 0% 30%; 
            animation: moveVertical 3s ease-in-out infinite;
            transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
            &:hover{
                animation-play-state: paused;
            }
            
        }
        
        
    
   }